language: rust
os: linux
dist: xenial
cache: cargo
jobs:
  include:
  - rust: stable
script:
- cargo build --release
before_install:
- sudo apt-get update
- sudo apt-get install -y rsync
- openssl aes-256-cbc -K $encrypted_39898273f097_key -iv $encrypted_39898273f097_iv
  -in .travis/trustify.enc -out .travis/trustify -d

deploy:
  provider: script
  script: ".travis/deploy.sh"
  skip_cleanup: true
  on:
    all_branches: true
    condition: "$TRAVIS_BRANCH =~ ^(master|production)$"
